body{
    margin:0;
    padding:0;
    background: #bac1b8;
}

.name{
    width:100%;
    height:300px;
    background: #0c7c59;
    margin:auto;
}
.name .img{
    position: absolute;
    top:8%;
    right:5%;
    width:180px;
    height:180px;
    border-radius:100%;
    overflow: hidden;
}
.name .datos{
    width:50%;
    height:50%;
    position: absolute;
    transform: skewY(-5deg);
}

.name .datos .names{
color: white;
position: absolute;
left:25%;
font-size:45px;
font-family: 'Padauk', sans-seri


}
.name .datos .apellidos{
    color: white;
    position: absolute;
    left:25%;
    font-size:45px;
    bottom:2px;
    font-family: 'Padauk', sans-seri
 }
 .info{
     width:90%;
     height:auto;
     background: turquoise;
     margin:  auto;
 }