body{
    margin:0;
    padding:0;
    background: #bac1b8;
}

.name{
    width: 100%;
    height: 300px;
    background: #0c7c59;
}

.name .datos{
    width: 50%;
    height: 50%;
    position: absolute;
   
}

.name .datos .names{
color: white;
position: absolute;
left: 25%;
font-size: 45px;
font-family: 'Padauk', sans-seri

}
.name .datos .apellidos{
    color: white;
    position: absolute;
    left: 25%;
    font-size: 45px;
    bottom: 2px;
    font-family: 'Padauk', sans-seri
 }